
input.input:focus,select.input:focus {
    border: 1px solid #777;
    box-shadow: 0px 0px 10px #0002;
    z-index: 10;
}
.btn{
	transition: background .2s,box-shadow .2s;
}
.btn:hover{
	box-shadow: 0px 5px 10px #0003;
	z-index: 10;
}
.agendaGap{
	cursor: pointer !important;
}